<!DOCTYPE html>
<html lang="en" data-ng-app="wallet">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Wallet App</title>
  <link rel="stylesheet" href="dist/assets/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
</head>
<body data-ng-controller="WalletController">
  <header class="page-header">
    <div class="container container--header">
      <button class="menu-button" data-ng-click="toggleMenu()"><i class="icon-bars"></i><span class="visuallyhidden">Menu</span></button>
      <h1>Wallet App</h1>
    </div>
  </header>
  <nav class="main-nav">
    <ul class="site-nav container">
      <li class="site-nav__item"><a class="site-nav__link" href="index.html">Home</a></li>
      <li class="site-nav__item"><a class="site-nav__link" href="#" data-ng-click="reset()">Reset</a></li>
      <li class="site-nav__item"><a class="site-nav__link" href="https://bitbucket.org/darekpobozniak/wallet">View Source</a></li>
    </ul>
  </nav>
  <div class="container container--main">
    <form class="submit-form" name="walletForm" data-ng-submit="sendForm()">
      <input type="number" class="submit-form__input" min="0.01" required step="0.01" data-ng-model="userAmount">
      <span class="submit-form__radio-group">
        <input type="radio" name="action" data-ng-model="action" id="fadd" value="add"> <label for="fadd">Add</label>
        <input type="radio" name="action" data-ng-model="action" id="fremove" value="remove"> <label for="fremove">Remove</label>
      </span>
      <button class="button button--primary">Make transaction</button>
    </form>

    <dl class="grand-total"><dt class="grand-total__label">Total amount:</dt> <dd class="grand-total__value"><span class="icon-usd"></span>{{total | number:2}}</dd></dl>
    <p class="alert alert--error" data-ng-show="errorTooMuchMoney">You cannot spend more money than you have</p>
    <p class="alert alert--error" data-ng-show="errorEmptyField">Please enter any value</p>
    <p class="alert alert--error" data-ng-show="walletForm.$error.number">Value you entered is not a correct number</p>

    <section>
      <h4>Recent transactions:</h4>
      <ul class="action-list">
        <li class="action-list__item" data-ng-repeat="event in events track by $index">
          <time class="action-list__time" datetime="{{event.time | date : 'yyyy-MM-ddThh:mm:ss'}}">{{event.time | date : 'dd.MM.yyyy hh:mm:ss'}}</time>
          <b class="action-list__amount action-list__amount--{{event.action}}">{{event.amount | number:2}} USD</b>
        </li>
        <li class="alert alert--info" data-ng-hide="events.length">Why don't you spend your 100 USD right now</li>
      </ul>
    </section>
  </div>

  <script src="js/app.js"></script>
  <script src="js/controllers/wallet.js"></script>
  <script src="js/services/wallet.js"></script>
  <script src="js/services/walletWithStorage.js"></script>
</body>
</html>