*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font: 16px/1.4 "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
body {
  background: #fff;
  color: #343434;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 55rem;

  &--main {
    padding: 0 1rem;
  }
}