@import 'base/normalize';
@import 'base/helpers';
@import 'base/base';
@import 'base/_font-awesome/font-awesome';

.page-header {
  background: #4285f4;
  color: #fefefe;

  .container {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-weight: 400;
    line-height: 4rem;
    margin: 0;
  }
}
.menu-button {
  width: 4rem;
  height: 4rem;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  -webkit-tap-highlight-color: transparent;

  [class*="icon-"] {
    color: #fff;
    font-size: 1.3rem;
  }
}

.main-nav {
  background: #3367D6;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-in;

  &--open {
    max-height: 20rem;
  }
}

/* Site Nav */
.site-nav {
  list-style: none;
  padding: 0;

  &__item {
    border-bottom: 1px solid #fff;
  }
  &__link {
    color: #fff;
    display: block;
    padding: 1rem;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;

    &:hover {
      background-color: rgba(255,255,255,.2);
    }
  }


}

/* Submit Form */
.submit-form {
  margin: 1rem 0;

  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;

  &__input {
    border: 1px solid #ccc;
    padding: .6em;
    width: auto;
  }
  &__radio-group {
    display: inline-block;
    padding: 1rem .5rem 1rem 1rem;

    label {
      margin: 0 .5rem 0 .2rem;
    }
  }
}

/* Buttons */
.button {
  display: inline-block;
  padding: .6rem 1.2rem;

  &--primary {
    background: #4285f4;
    color: #fff;
    border: 1px solid #1266f1;

    &:hover, &:active {
      background: #4d4d4d;
      border: 1px solid #4d4d4d;
    }
  }
}

/* Action list */
.action-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 1px solid #eee;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
  &__amount {
    &::before {
      margin-right: .2rem;
    }

    &--add {
      color: green;

      &::before {
        content: '+';
      }
    }
    &--remove {
      color: red;

      &::before {
        content: '-';
      }
    }
  }
}

/* Alerts */
.alert {
  border: 1px solid transparent;
  padding: .6rem 1rem;

  &--error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  &--info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}

.grand-total {
  margin: 1rem 0;

  &__label, &__value {
    display: inline;
    margin: 0;
    vertical-align: middle;
  }
  &__value {
    font-size: 1.4rem;
  }
}

/* Larger Screens - desktops and tablets */
@media all and (min-width: 40rem) {
  .container--header {
    padding: 0 1rem;
  }
  .menu-button {
    display: none;
  }
  .page-header h1 {
    font-size: 3rem;
    line-height: 8rem;
  }
  .main-nav {
    max-height: none;
  }
  .site-nav {
    display: -webkit-flex;
    display: flex;

    &__item {
      border-bottom: 0 none;
    }
  }
  .submit-form {
    display: block;
  }
}